<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar
                  color="accent">beenhere</mat-icon>
        <mat-card-title>Konec hry</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Gratulujeme, toto je konec hry!

            Všechny výstupy úkolů spolu s vaší zpětnou vazbou nám pošlete na adresu tomasdanek83@gmail.com (případně
            někam
            nahrajte a pošlete odkaz).

            Na základě splněných úkolů vám na oplátku pošleme dáreček.
        </p>
    </mat-card-content>
</mat-card>