<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar
              color="accent">account_circle</mat-icon>
    <mat-card-title>Moje cesta Pekárnou</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">

      <mat-table [dataSource]="dataSource">
        <!-- Timestamp column -->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef>Čas</mat-header-cell>
          <mat-cell *matCellDef="let element"
                    data-label="Čas">{{element.timestamp | date: 'HH:mm' }} </mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef>Stanoviště</mat-header-cell>
          <mat-cell *matCellDef="let element"
                    data-label="Stanoviště"> {{element.location}} </mat-cell>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <mat-header-cell *matHeaderCellDef>Stránka</mat-header-cell>
          <mat-cell *matCellDef="let element"
                    data-label="Stránka"> {{element.view}} </mat-cell>
        </ng-container>

        <!-- Event Column -->
        <ng-container matColumnDef="event">
          <mat-header-cell *matHeaderCellDef>Událost</mat-header-cell>
          <mat-cell *matCellDef="let element"
                    data-label="Událost"> {{element.event}} </mat-cell>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>Podrobnosti</mat-header-cell>
          <mat-cell *matCellDef="let element"
                    data-label="Podrobnosti"> {{element.details}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>