<p>
  <mat-toolbar color="primary">
    <button mat-icon-button
            (click)="onHomeClick()">
      <mat-icon>nature_people</mat-icon>
    </button>
    <span>{{title$ | async}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button
            (click)="onHelpClick()">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button
            (click)="onAccountClick()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="content">
  <router-outlet></router-outlet>

  <div *ngIf="(location$ | async) as location"
       class="location">
    Pekárna žije! - <a [routerLink]="['/quiz']">Stanoviště {{location.name}}</a>
  </div>
</div>