<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar
              color="accent">local_bar</mat-icon>
    <mat-card-title>Úvodní pokyny</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Vítejte na zimní přírodovědné a rodinně-stmelovací hře, kterou jsme pro vás připravili.
    </p>
    <div class="help-line">
      <mat-icon>school</mat-icon>
      Budete mít za úkol projít celkem {{totalLocations}} stanovišť. Na každém z nich načtete QR kód, který
      vás přivede na webovou stránku, kde zodpovíte soutěžní otázku. Využít můžete u každé otázky až 2
      nápovědy, odpovědi zadávejte s diakritikou, na velikosti písmen nezáleží.
    </div>
    <div class="help-line">
      <mat-icon>check_circle_outline</mat-icon>
      Bez ohledu na to, jestli ji zodpovíte správně nebo ne, musíte splnit úkol, který vám bude zadán.
      Každý z úkolů, prosím, zaznamenejte na mobil (v podobě textu, fotografie, audia či videa, bude vždy
      upřesněno). Výstupy úkolů budete odevzdávat až na konci hry (klidně až z domova).
    </div>
    <div class="help-line">
      <mat-icon>phonelink_setup</mat-icon>
      V zimě se telefony při zapnutém GPS rychle vybíjí, doporučujeme tedy GPS vypínat, pokud zrovna nehledáte
      další stanoviště.
    </div>
    <div class="help-line">
      <mat-icon>health_and_safety</mat-icon>
      Nacházíte se na chráněném území, pohybujte se prosím jen po cestách.
      V lese hrozí nebezpečí pádu stromů, dávejte si pozor na podezřelé stromy a nevyrážejte za větrného
      počasí.
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="primary"
            (click)="onStartGame()">Začít hrát</button>
  </mat-card-actions>
</mat-card>