<div *ngIf="currentLocation">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar
                      color="accent">directions</mat-icon>
            <mat-card-title>{{currentLocation.name}}</mat-card-title>
            <mat-card-subtitle>Navigace k dalšímu stanovišti</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>{{nextLocation?.coordinates}}</div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="!currentLocation">Neplatné id lokality</div>